test-med.ru {
    handle_path /media/* {
        root * /srv/media
        file_server
    }

    reverse_proxy django:8000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}

        # Без этих заголовков могут быть проблемы с health checks
        header_down -Server
    }
    file_server /static/*
}
