test-med.ru {

    handle_path /static/* {
                              root * /staticfiles/
                              file_server
                          }

    handle_path /media/* {
                             root * /media/
                             file_server
                         }

    @notStatic {
                   not path /static/* /media/*
               }

    handle {
               reverse_proxy django:8000
           }
}