
services:
  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./staticfiles:/srv/static
      - ./media:/srv/media
    depends_on:
      - django

  django:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - db_lite:/usr/src/app/db

networks:
  default:
    driver: bridge

volumes:
  db_lite:
