
services:
  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./static:/srv/static
    depends_on:
      - django

  django:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - db_lite:/usr/src/app/db

volumes:
  caddy_data:
  caddy_config:
  db_lite:
  static_volume:
  media_volume: