
services:
  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
        - ./Caddyfile:/etc/caddy/Caddyfile
        - ./staticfiles:/srv/static  # ДОЛЖНО СОВПАДАТЬ с Caddyfile
        - ./media:/srv/media
        - caddy_data:/data           # для SSL сертификатов
        - caddy_config:/config
    depends_on:
      - django

  django:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - db_lite:/usr/src/app/db

networks:
  default:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
  db_lite:
